<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./resource/layui/css/layui.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../resource/bootstrap/css/bootstrap.min.css"> -->
    <script src="../js/jquery-2.2.4.js"></script>
    <script src="../resource/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../resource/font/iconfont.css">
    <link rel="stylesheet" href="../css/reset.css">
    <script src="../js/axios.js"></script>
</head>

<body>
    <div id="header">
        <div class="header-right">
            <div class="header-top">
                <div class="container">
                    <div class="header-top-left">
                        <div class="img">
                            <a href="../index.html">
                                <img src="https://s02.mifile.cn/assets/static/image/logo-mi2.png" alt="">
                            </a>
                        </div>
                        小米账号
                    </div>
                    <div class="header-top-right">
                        <a class="item" href="">用户协议</a>
                        <a class="item " href="">隐私政策</a>
                        <a class="item " href="">帮助中心</a>
                        <div class="item">
                            <div class="tag dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">‎中文(简体)‎
                            </div>
                            <div class="dropdown-menu">
                                <a class="dropdown-item a1" href="#">中文繁体</a>
                                <a class="dropdown-item a2" href="#">English</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="login">
                <div class="login-card">

                    <div class="login-content">
                        <div class="login-content-top">
                            <h2>重置密码</h2>
                        </div>
                        <div class="input">
                            <h5>请输入注册的邮箱地址、手机号码或小米帐号</h5>
                            <form>
                                <div class="User">
                                    <div class="user">
                                    </div>
                                    <label class="use">手机号</label>
                                    <i class='jiantou iconfont'>&#xe62d;</i>
                                    <ul class="select">
                                        <li>
                                            <div class="user1 Tel">手机号</div>
                                        </li>
                                        <li>
                                            <div class="user1 Emali">邮箱</div>
                                        </li>
                                        <li>
                                            <div class="user1">小米ID</div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tel">
                                    <div class="tel-left">
                                        <div class="tel-phone">
                                            +86
                                        </div>
                                        <label> 国家码</label>
                                        <i class='jiantou1 iconfont'>&#xe62d;</i>

                                    </div>
                                    <div class="tel-right">
                                        <input type="text" maxlength="13">
                                        <label>手机号</label>
                                        <div class="error">请输入手机号码</div>
                                        <div class="error1">请输入正确手机号码</div>
                                    </div>
                                </div>
                                <div class="email">
                                    <input type="text" value="" class='e'>
                                    <label class='p'>邮箱</label>
                                    <div class="errorP">请输入邮箱</div>
                                    <div class="erroL">邮箱格式错误</div>
                                </div>
                            </form>
                            <div class="denglu">
                                <button value="" class="Login">下一步</button>
                            </div>
                            <div class="bottom">
                                <div class="bottom-left">
                                    <a href="#node">忘记账号？</a>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>



    </div>
    <script src="../js/reset.js"></script>

    <script>
        $('.dropdown-toggle').dropdown();
    </script>
</body>

</html>