<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="./resource/layui/css/layui.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../resource/bootstrap/css/bootstrap.min.css"> -->
    <script src="../js/jquery-2.2.4.js"></script>
    <script src="../resource/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../resource/font/iconfont.css">
    <link rel="stylesheet" href="../css/shoping.css">
    <title>Document</title>
</head>

<body>
    <div id="header">
        <div class="container">
            <div class="header-logo">
                <a href="../yang.html">
                    <img src="../img/小米手机/logo-footer.png" alt=""></a>
            </div>
            <div class="header-title">
                <h2>我的购物车</h2>
            </div>
            <div class="bar">
                <span class="user">
                    <a href="">杨</a>
                </span>
                <span class="sep">|</span>
                <a href="">我的订单</a>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="container">
            <div class="main-shop empty">
                <h2>您的购物车还是空的！</h2>
                <a href="../index.html">马上去购物</a>
            </div>
            <div class="cart-goods-list">
                <div class="list-head">
                    <div class="col col-check">
                        <input type="checkbox" class="all" checked> 全选</div>
                    <div class="col col-img">&nbsp;</div>
                    <div class="col col-name">商品名称</div>
                    <div class="col col-price">单价</div>
                    <div class="col col-num">数量</div>
                    <div class="col col-total">小计</div>
                    <div class="col col-action">操作</div>
                </div>
                <div class="list-body">
                </div>
                <div class="list-bottom">
                    <div class="list-left">
                        <a href="">继续购物</a>
                        <span class="cart-total">
                            共<i class="count"></i>计，已选择<i class="totla"></i>
                        </span>
                    </div>
                    <div class="list-right">
                        <span class="total-price">
                            合计<em></em>元<a href="#node">去结算</a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="main-bottom">
                <h2>
                    <span>为您推荐</span>
                </h2>
                <div class="shop-list">
                    <ul class="list">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div id="footer">
        <div class="container">
            <div class="footer-service">
                <ul>
                    <li><a href=""><i class="iconfont">&#xe715;</i>预约维修服务</a></li>
                    <li><a href=""><i class="iconfont">&#xe67d;</i>7天无理由退货</a></li>
                    <li><a href=""><i class="iconfont">&#xe639;</i>15天免费换货</a></li>
                    <li><a href=""><i class="iconfont">&#xe608;</i>满150元包邮</a></li>
                    <li><a href=""><i class="iconfont">&#xe613;</i>520余家售后网点</a></li>
                </ul>
            </div>
            <div class="footer-links">
                <dl>
                    <dt>帮助中心</dt>
                    <dd><a href="#node">账户管理</a> </dd>
                    <dd><a href="#node">购物指南</a> </dd>
                    <dd><a href="#node">订单操作</a> </dd>
                </dl>
                <dl>
                    <dt>服务支持</dt>
                    <dd><a href="#node"> 售后政策</a></dd>
                    <dd><a href="#node">自助服务</a> </dd>
                    <dd><a href="#node">相关下载</a> </dd>
                </dl>
                <dl>
                    <dt>线下门店</dt>
                    <dd><a href="#node">小米之家</a> </dd>
                    <dd><a href="#node">服务网点</a> </dd>
                    <dd><a href="#node">零售网点</a> </dd>
                </dl>
                <dl>
                    <dt>关于小米</dt>
                    <dd><a href="#node">了解小米</a> </dd>
                    <dd><a href="#node">加入小米</a> </dd>
                    <dd><a href="#node">联系我们</a> </dd>
                    <dd><a href="#node">投资者关系</a> </dd>
                    <dd><a href="#node">企业社会责任</a> </dd>
                    <dd><a href="#node">廉洁举报</a> </dd>
                </dl>

                <dl>
                    <dt>关注我们</dt>
                    <dd><a href="#node">新浪微博</a> </dd>
                    <dd><a href="#node">小米部落</a> </dd>
                    <dd><a href="#node">官方微信</a> </dd>
                </dl>
                <dl>
                    <dt>特色服务</dt>
                    <dd><a href="#node">F 码通道</a> </dd>
                    <dd><a href="#node">礼物码</a> </dd>
                    <dd><a href="#node">防伪查询</a> </dd>
                </dl>
                <div class="footer-contact">
                    <p class="phone">400-100-5678</p>
                    <p>周一至周日 8:00-18:00<br>（仅收市话费）</p>
                    <a class="footer-btn"> 在线客服</a>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-info">
        <div class="container">
            <div class="logo"></div>
            <div class="info-text">
                <p class="sites">
                    <a href="#node">小米官网</a>
                    <span>|</span>
                    <a href="#node">MIUI</a>
                    <span>|</span>
                    <a href="#node">米家</a>
                    <span>|</span>
                    <a href="#node">米聊</a>
                    <span>|</span>
                    <a href="#node">多看</a>
                    <span>|</span>
                    <a href="#node">多看</a>
                    <span>|</span>
                    <a href="#node">游戏</a>
                    <span>|</span>
                    <a href="#node">政企服务</a>
                    <span>|</span>
                    <a href="#node">小米天猫店</a>
                    <span>|</span>
                    <a href="#node">小米集团隐私政策</a>
                    <span>|</span>
                    <a href="#node">小米公司儿童信息保护平湖规则</a>
                    <span>|</span>
                    <a href="#node">小米商城隐私政策</a>
                    <span>|</span>
                    <a href="#node">小米商城用户协议</a>
                    <span>|</span>
                    <a href="#node">问题反馈</a>
                    <span>|</span>
                    <a href="#node">SelectLocation</a>
                </p>
                <p class="sites">
                    <a href="#node">北京互联网法院法律服务工作站</a>
                    <span>|</span>
                    <a href="#node">中国消费者协会</a>
                    <span>|</span>
                    <a href="#node">北京市消费者协会</a>
                </p>
                <p>
                    ©
                    <a href="#node">mi.com</a> 京ICP证110507号
                    <a href="#node">京ICP备10046444号</a>
                    <a href="#node">京公网安备11010802020134号</a>
                    <a href="#node">京网文[2020]0276-042号</a> <br>
                    <a href="#node">（京）网械平台备字（2018）第00005号</a>
                    <a href="#node">互联网药品信息服务资格证(京)-非经营性-2014-0090</a>
                    <a href="#node" target="_blank">营业执照</a>
                    <a href="#node" target="_blank">医疗器械质量公告</a> <br>
                    <a
                        href="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/e0c7d4cf3b7cd88de10196e30c92e020.png">增值电信业务许可证</a>&nbsp;网络食品经营备案
                    京食药网食备202010048 &nbsp;
                    <a
                        href="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/c6859168166651511897f54fa1047fe3.png">食品经营许可证</a>
                    <br>
                    违法和不良信息举报电话：171-5104-4404&nbsp;
                    <a href="#node">知识产权侵权投诉</a>&nbsp;本网站所列数据，除特殊说明，所有数据均出自我司实验室测试
                </p>
            </div>
            <div class="info-links">
                <a rel="nofollow" href="#node" target="_blank"><img rel="nofollow"
                        src="//i1.mifile.cn/f/i/17/site/truste.png" alt="TRUSTe Privacy Certification"></a>
                <a rel="nofollow" href="#node"><img rel="nofollow" src="//s01.mifile.cn/i/v-logo-2.png" alt="诚信网站"></a>
                <a id="_xinchacharenzheng_cert_vip_kexinweb" rel="nofollow" href="#node" target="_blank">
                    <img rel="nofollow" src="//xyt.xinchacha.com/img/icon/icon3.png" alt="可信网站"></a>
                <a rel="nofollow" href="#node" target="_blank">
                    <img rel="nofollow" src="//i8.mifile.cn/b2c-mimall-media/ba10428a4f9495ac310fd0b5e0cf8370.png"
                        alt="诚信经营 放心消费"></a>
                <a rel="nofollow" href="#node" class="safe-auth J_safeAuth">
                    <img rel="nofollow"
                        src="https://cnbj1.fds.api.xiaomi.com/b2c-misite-activity/f1ee261b96ae71e845efba398efeca02.png"
                        class="img1">
                    <img rel="nofollow"
                        src="https://cnbj1.fds.api.xiaomi.com/b2c-misite-activity/6207f5b676ec7a09c1b691fcb1f09281.png"
                        class="img2"></a>
            </div>
            <div class="slogan"></div>
        </div>
    </div>
    <script src="../js/axios.js"></script>
    <script>
        //从goods.json获取数据
        //获取到商品列表的数据
        axios.get('../json/goods.json').then(data => {
            // console.log(data);
            //用于字符串拼接，页面显示数据
            let htm = '';
            //转化为json对象
            JSON.parse(data).forEach(goods => {
                // console.log(goods);
                htm += `
                <li class="item-list" >
                            <a href="">
                                <img src="${goods.src}"
                                    alt="">
                                <div class="item-name">${goods.name}</div>
                                <div class="item-price">${goods.price}元</div>
                                <div class="item-tips">${goods.tips}</div>
                            </a>
                            <div class="item-action"><a href="#node" class='btn'
                                onclick="addGoods(${goods.id},'${goods.name}','${goods.src}','${goods.price}','1')"
                                
                                >
                                    加入购物车
                                </a></div>
                        </li>
                
                `
            });
            //添加到页面中去
            $$('.list').innerHTML = htm;
        })
        //给每个加入购物车添加事件
        //生成列表
        function addGoods(id, name, src, price, num) {
            // console.log(id, name, price, num);
            //设置locaStorage的值
            let cart = localStorage.getItem('cart');
            // 判断locaStorage.getItem是否有值
            //如果此时有值
            if (cart) {
                //此时设置商品数量的变化
                cart = JSON.parse(localStorage.getItem('cart'));
                //判断此时购物车里面有没有相同的数据
                //设置一个date用于判断有没有数据
                let date = false;
                cart.forEach(v => {
                    //如果点击
                    if (v.id == id) {
                        // console.log(1111);
                        //修改num的值 v.num=1
                        v.num = v.num - 0 + (num - 0);
                        date = true;
                    }
                })
                if (!date) {
                    //没有加添加数据
                    cart.push({
                        id,
                        name,
                        src,
                        price,
                        num
                    });
                }
                localStorage.setItem('cart', JSON.stringify(cart))
            } else {
                //没有这个值时
                //添加此时的localStorage值
                let cartObj = {
                    id,
                    name,
                    src,
                    price,
                    num
                }
                //因为存储为json字符串
                let cartArr = [];
                cartArr.push(cartObj);
                // console.log(cartArr);
                localStorage.setItem('cart', JSON.stringify(cartArr));
            }
            //点击的时候进行刷新页面并且让main-shop empty节点删除 让cartlist出来
            // $('.empty').remove();
            // $('.cart-goods-list').style.display = 'block';
            location.reload()
        }
    </script>
    <script src='../js/shoping.js'></script>
</body>

</html>