<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./resource/layui/css/layui.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="../resource/bootstrap/css/bootstrap.min.css"> -->
    <script src="../js/jquery-2.2.4.js"></script>
    <script src="../resource/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/iconfont.css">
    <link rel="stylesheet" href="../resource/font/iconfont.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/up.css">
    <script src="../js/axios.js"></script>
</head>

<body>
    <div id="header">
        <div class="header-right">
            <div class="header-top">
                <div class="container">
                    <div class="header-top-left">
                        <div class="img">
                            <a href="../index.html">
                                <img src="https://s02.mifile.cn/assets/static/image/logo-mi2.png" alt="">
                            </a>
                        </div>
                        小米账号
                    </div>
                    <div class="header-top-right">
                        <a class="item" href="">用户协议</a>
                        <a class="item " href="">隐私政策</a>
                        <a class="item " href="">帮助中心</a>
                        <div class="item">
                            <div class="tag dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">‎中文(简体)‎
                            </div>
                            <div class="dropdown-menu">
                                <a class="dropdown-item a1" href="#">中文繁体</a>
                                <a class="dropdown-item a2" href="#">English</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="login">
                <div class="login-card">

                    <div class="login-content">
                        <div class="login-content-top">
                            <h2>重置密码</h2>
                        </div>
                        <div class="input">
                            <form>
                                <div class="Passwrod">
                                    <input type="password" class="pwd" id="p">
                                    <label class='p'>初始密码</label>
                                    <div class="btn">
                                        <a class="iconfont eye"> &#xe901;</a>
                                    </div>
                                    <div class="errorP">密码不能为空</div>
                                    <div class="erroL">密码不正确</div>
                                </div>
                                <div class="nPasswrod">
                                    <input type="password" class="npwd" id="p">
                                    <label class='np'>新密码</label>
                                    <div class="nbtn">
                                        <a class="iconfont neye"> &#xe901;</a>
                                    </div>
                                    <div class="nerrorP">密码不能为空</div>
                                    <div class="nerroL">密码格式不正确</div>
                                    <div class="nerroQ">密码不能与原密码相同</div>
                                </div>
                                <div class="sPasswrod">
                                    <input type="password" class="spwd" id="p">
                                    <label class='sp'>确认密码</label>
                                    <div class="sbtn">
                                        <a class="iconfont seye"> &#xe901;</a>
                                    </div>
                                    <div class="serrorP">密码不能为空</div>
                                    <div class="serroL">密码不一致</div>
                                </div>
                            </form>
                            <div class="denglu">
                                <button value="" class="Login">确认修改</button>
                            </div>
                            <div class="bottom">
                                <div class="bottom-left">
                                    <a href="#node">相关内容？</a>
                                </div>

                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="../js/up.js"></script>
</body>

</html>